@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot');
    src: url('../fonts/vazir.ttf') format('truetype'),
    url('../fonts/vazir.woff2') format('woff2'), 
    url('../fonts/vazir.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    font-family: vazir;

 
}
header{
    position: fixed;
    top: 0;
    right: 0;
    background:#000;
    color: #fff;
    width: 100%;
    text-align: center;
    
}

h2{
    padding:20px 0;
    font-size: 3rem;
}
header .progress{
    width: 100%;
    height: 10px;
    background-color: #efefef;
}
header .progress .progress-bar{
    width: 0;
    height: 100%;
    background: linear-gradient(to right, rgb(238, 24, 99), rgb(78, 8, 110));
}

section{
    margin-top:150px;
    padding:50px 100px;
}

section p {
    font-size:1.5rem;
    line-height:30px;
    margin-bottom:50px;
}